@import '_mixins';

@keyframes slideOutDown {
  0% {transform: translateY(0%)}
  100% {transform: translateY(100%)}
}

@keyframes slideOutLeft {
  0% {transform: translateX(-100%) };
  100% {transform: translateX(-200%) };
}

@keyframes slideInLeft {
  0% {transform: translateX(0%)};
  100% {transform: translateX(-100%)};
}

@keyframes activateResetBtn {
  0% {
      transform: rotate(0deg);
      color: lightslategray;
  };
  100% {
      transform: rotate(360deg);
      color: darkred;
  };
}

@keyframes deactivateResetBtn {
  0% {
      transform: rotate(0deg);
      color: darkred;
  };
  100% {
      transform: rotate(-360deg);
      color: lightslategray;
  };
}

.activateResetBtn {
 @include animation(0s, .2s, activateResetBtn);
}

.deactivateResetBtn {
  @include animation(0s, .2s, deactivateResetBtn);
 }
 

.slideOutDown {
  bottom: -100% !important;
}

.slideOutLeft {
  left: -100% !important;
}

.slideInLeft {
  left: 0% !important;
}

.slideInUp {
  bottom: 53px !important;
}