@import '_mixins';

@keyframes slideOutDown {
  0% {transform: translateY(0%)}
  100% {transform: translateY(100%)}
}

@keyframes slideOutLeft {
  0% {transform: translateX(-100%) };
  100% {transform: translateX(-200%) };
}

@keyframes slideInLeft {
  0% {transform: translateX(0%)};
  100% {transform: translateX(-100%)};
}

.slideOutDown {
  bottom: -100% !important;
}

.slideOutLeft {
  left: -100% !important;
}

.slideInLeft {
  left: 0% !important;
}