@import '_mixins';
@import '_variables';

[class^="tripstr__btn"] {
  padding: 10px 60px;
  text-decoration: none;
  @include buttonColor();
  &:hover {
    transition: 300ms;
  }
  &:active {
    top: 3px;
    transition: 300ms;
  }
  &--modal {
    width: 200px;
  }
  &[class*="--home"] {
    font-size: 24px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: 'comfortaa', cursive;
    border: none;
    color: white;
    background-color: #2d2d2d;
    box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.6);
  }
  
}
.--green {
  @include buttonColor($off-white, $tripstr-green);
}

.--blue {
  @include buttonColor($off-white, $tripstr-blue);
}


.--directionsBtn {
  margin: auto;
}

.inputGroup__btn, .mapControls__btn {
  background-color: $off-white;
  color: $charcoal;
  border: 0;
  border-bottom: 2px solid $charcoal;
  font-size: 1.5em;

} 

.mapControls__btn {
  padding: 0;
  font-size: 1.2em;
  border: 0;

}

.--resetBtn {
  position: relative;
  color: lightslategray;
}

.--locateMeBtn {
  border-top: 1px solid rgba(32, 22, 17, 0.3);
  transition: .2s ease-in-out;
}