@import '_animation';
@import '_mixins';
@import '_variables';



.destinationInput, .searchPlacesInput {
  background-color: $off-white;
  color: $charcoal;
  width: 60vw;
  height: 28px;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid $charcoal;
  &:focus::-webkit-input-placeholder {
    color: transparent;
    transition: 100ms;
  }
  &::-webkit-input-placeholder{
    color: $charcoal;
    font-size: 18px;
    padding-left: 5px;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $charcoal;
    font-size: 16px;

  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $charcoal;
    font-size: 16px;

  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $charcoal;
    font-size: 16px;

  }
  
}

.directionsItinerary {
  overflow-y: auto;
  width: 377px;
  height: 100vh;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.getDirectionsBtn {
  background-color: navy;
  color: white;
  position: absolute;
  bottom: 50px;
  left: 0;
  
}

.ms-composite {
  height: 100vh;
  width: 100%;
}

.hidden {
  display: none !important;
}

.NavBar_zoomIn {
  margin-top: 5px;
}

.destinationinputDiv {
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.placesInputDiv {
  position: absolute;
  bottom: 100;
  z-index: 10;
}

.bm_bottomRightOverlay {
  right: 0 !important;
  bottom: 0 !important;
  padding: 6px;
  width: 100%;
  background-color: $off-white;
}