@import '_variables';

.container {
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 1;

  &__searchControls {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;  
    height: 100px;
    bottom: 53px;
    background-color: $off-white;
    border-top: 3px solid $violet;
    transition: .2s ease-in-out;
    transition-delay: 150ms;
    
    &--destinationSearch {
      left: 0;
    }
    
    &--placesSearch{
      left: 100%;
    }
    
    &--getDirections {
      left: 100%;
      padding: 0;
    }

    &--directionsItinerary {
      bottom: -160px;
      overflow-y: scroll;
      align-items: baseline;
      height: 160px;
    }
  }
  &__routeTypeContainer {
    z-index: 1;
    position: absolute;
    background-color: rgba(32, 22, 17, 0.4);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .roadTripModal, .vacationModal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
      text-align: center;
      height: 35%;
      width: 90%;
      margin: 20px;
      border-radius: 10px;
      background-color: $off-white;
  
    }
  }
  
}

.mapControlsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: $off-white;
  border-radius: 3px;
  color: $charcoal;
  box-shadow: 2px 3px 6px 0px rgba(32, 22, 17, 0.2);
  z-index: 1;

  button {
    margin: 0 5px;
    padding: 5px 0;
  }
}

.directionsPanel {
  width: 100% !important;
}
