@import '_variables';

.container__searchControls {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding-left: 10px;
  position: absolute;
  bottom: 53px;
  background-color: $off-white;
  border-top: 3px solid $violet;
  transition: .2s ease-in-out
}

.--destinationSearch {
  left: 0;
}

.--placesSearch, .--getDirections {
  left: 100%;
}

.--getDirections {
  padding: 0;
}