@import '_variables';

.container__searchControls {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 53px;
  background-color: $off-white;
  border-top: 3px solid $violet;
  transition: .2s ease-in-out
}

.container__mapControls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: $off-white;
  border-radius: 3px;
  color: $charcoal;
  box-shadow: 2px 3px 6px 0px rgba(32, 22, 17, 0.2);

  button {
    margin: 0 5px;
    padding: 5px 0;
  }
}

.--destinationSearch {
  left: 0;
}

.--placesSearch, .--getDirections {
  left: 100%;
}

.--getDirections {
  padding: 0;
}