 @import '_variables';

.hero-video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

header {
    position: relative;
    & > div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient( to top, black, transparent);
        h1, a {
            font-family: 'comfortaa', serif;
            color: white;
            text-decoration: none;
        }
        h1 {
            font-family: 'Pacifico', cursive;
            font-size: 3em;
            margin-bottom: 5px;
        }
        a > i {
                padding-right: 5px;
        }
        
    }
}