@mixin darkenBorder($color: $off-white, $percent: 10%, $size: 10px) {
  border-bottom: $size solid darken($color, $percent);
}

@mixin buttonColor($textColor: $charcoal, $buttonColor: $off-white) {
  color: $textColor;
  background-color: $buttonColor;
  border: 2px solid $buttonColor;
  @include darkenBorder($buttonColor, 2%, 2px);
  border-radius: 3px;
  &:hover {
    background-color: darken($buttonColor, 5%);
  }
}

@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}
